.lateralMenu {
  display: flex;
  margin-left: 1%;
  height: 98.5vh;
  width: auto;
  flex-direction: column;
  overflow: auto;
  align-items: space-between;
  border: 1px solid var(--backGroundColor);
  border-right: 1px solid var(--detailColor);
}

.players {
  height: 15%;
  width: 100%;
  margin-bottom: 2%;
}

ul {
  margin-left: 3vh;
  font-size: 2.6vh;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  list-style: disc;
}

li img{
  display: none;
  margin-left: 2%;
  width: 1.4rem;
  height: auto;
}

.li1 {
  color: var(--player1);
}

.li2 {
  color: var(--player2);
}

.li3 {
  color: var(--player3);
}

.li4 {
  color: var(--player4);
}

.resources {
  border: 1px solid var(--backGroundColor);
  border-top: 1px solid var(--detailColor);
  height: 40%;
  width: 98%;
}

.teamResource {
  border: 1px solid var(--backGroundColor);
  border-top: 1px solid var(--detailColor);
  height: 40%;
  width: 98%;
}

.lateralMenuButton {
  height: 5%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonExit {
  width: 50%;
  height: 90%;
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  font-size: 3vh;
  color: var(--primaryFontColor);
  border-radius: 5px;
  border: none;
  background-color: var(--errorColor);
  box-shadow: 3px 2px 2px #ee8065;
}

.buttonExit:hover {
  background-color: var(--errorColorHover);
}

.h1Resources {
  margin-top: 0.5vh;
  text-align: center;
  font-size: 3vh;
}

.resourcesList {
  width: 100%;
  height: 78%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.resourcesItem {
  height: 10vh;
  width: auto;
  margin: 1%;
}