.modalContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  background-color: var(--backGroundColor);
  border-radius: 6px;
  border: 5px solid var(--primaryColor);
  box-shadow: 0 0 0 4px var(--backGroundColor);
  position: relative;
  align-items: center;
  justify-content: center;
}

.miniModal {
  display: flex;
  flex-direction: column;
  width: 31%;
  height: 24%;
  background-color: var(--backGroundColor);
  border-radius: 6px;
  border: 5px solid var(--primaryColor);
  box-shadow: 0 0 0 4px var(--backGroundColor);
  position: relative;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: -2vh;
  right: -2vh;

  border: none;
  border-radius: 50%;
  background: var(--primaryColor);

  color: var(--backGroundColor);
  font-family: 'Mulish', sans-serif;
  font-size: 3.5vh;
  font-weight: bold;

  cursor: pointer;

  flex-direction: column;
}

.TitleModal {
  text-align: center;
  width: 100%;
  height: 7%;
}

.textModal {
  text-align: justify;
  font-size: 3vh;
  width: 92%;
  height: 90%;
  overflow: auto;
}

.miniModal .textModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.miniModal form{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  margin-bottom: 1%;
  background-color: var(--backGroundColor);
  border: none;
  border-bottom: 1px solid black;
  width: 60%
}

input:focus{
  outline-width: 0;
}

.textModal ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textModal ul li{
  margin-bottom: 3%;
}

.miniModal button {
  margin-top: 1%;
  width: 22vh;
  border: 0;
  padding: 2vh 2vh;
  outline: none;
  color: #000;
  background: linear-gradient(to right, #74BAA0, var(--primaryColor));
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.4s;
  font-size: 2.5vh;

}
.miniModal button:hover{
  margin-top: 1%;
  width: 22vh;
  border: 0;
  padding: 2vh 2vh;
  outline: none;
  color: #000;
  background: linear-gradient(to right, var(--primaryColor),#74BAA0);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.4s;
  font-size: 2.5vh;

}

@media only screen and (max-width: 700px) {

  .modal {
    width: 90%;
    height: 90%;
  }
  .miniModal{
    width: 90%;
    height: 40%;
  }
}